@model News
@section CSS{
    <link rel="stylesheet" href="~/css/NewsDetails.css" />
}

<article>
    <div class="container">
        <div class="row">
            <h1 class="text-center">@(Model.Type==0 ? Model.Header.ToUpper() : Model.Header)</h1>
            <div class="col-lg-8 col-md-10 mx-auto">@Model.Description</div>
        </div>
    </div>
</article>

<hr>

<hr>
@section scripts{
    <script type="text/javascript" src="~/js/News.js" asp-append-version="true"></script>
}